#script-warning {
  display       : none;
  background    : #eee;
  border-bottom : 1px solid #ddd;
  padding       : 0 10px;
  line-height   : 40px;
  text-align    : center;
  font-weight   : bold;
  font-size     : 12px;
  color         : red;
}

#loading {
  display    : block;
  position   : absolute;
  top        : 20px;
  text-align : center;
  left       : 0;
  right      : 0;
}

#welcome-headline {
  display       : block;
  margin-left   : 30px;
  margin-bottom : 50px;
}

#newEventTags label {
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 13px;
}

#newEventTags label input{
  margin-right: 4px;
}

#main {
  display         : flex;
  flex-direction  : row;
  justify-content : center;
}

#calendar {
  width  : 780px;
  margin : 0px 30px;
}

#left-sidebar {
  width      : 150px;
  margin-top : 45px;
}

#right-sidebar {
  width      : 180px;
  margin-top : 45px;
}

#conflicts li {
  cursor : pointer;
}

#conflicts li:hover {
  background-color : #eee;
}

.sidebar h3 {
  margin-top     : 0;
  padding-bottom : 12px;
  font-size      : 14px;
  font-weight    : bold;
  border-bottom  : 1px solid #ddd;
  color          : #444;
}

.sidebar ul {
  padding    : 0 0 5px 0;
  list-style : none;
}

.tag {
  margin : 5px 0 5px 0;
}

.tag .name {
  cursor      : default;
  white-space : nowrap;
  overflow    : hidden;
}

.tag .menu {
  margin-left : 6px;
  display     : inline-block;
}

.tag .open-menu {
  cursor : pointer;
} 

#edit-tag div {
  margin-top : 10px;
}

#edit-tag input {
  display : inline-block;
  padding : 4px 8px;
  height  : auto;
}

#edit-tag input[name=name] {
  width : 85px;
}

#edit-tag input[name=priority] {
  width   : 40px;
  padding : 4px 4px 4px 8px;
}
.tag-filter-off {
  opacity: 0.35;
}
.proposal-modal {
  width : 650px;
}

.proposal {
  font-size : 12px;
  color     : #777;
  padding   : 10px 10px;
}

.proposal h3 {
  font-weight    : normal;
  font-size      : 14px;
  border         : none;
  padding-bottom : 0;
  margin-bottom  : 3px; 
}

.selectize-dropdown-content div[data-selectable].option.active {
  background-color: #eee;
}