body {
 margin           : 0;
 padding          : 80px 0 0 0;
 font-family      : "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
 font-size        : 14px;
}

nav {
  top        : 20px;
  right      : 20px;
  position   : absolute;
  width      : 300px;
  text-align : right;
  margin     : 0;
}

nav a {
  padding-left : 10px;
}

a.no-decoration {
  text-decoration: none;
  color: #999;
}

a.no-decoration:hover {
  text-decoration: none;
  color: #999 !important;
}