@(title: String, userName: String)

@scripts = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("fullcalendar/fullcalendar.css")">
  <link rel="stylesheet" media="print"  href="@routes.Assets.at("fullcalendar/fullcalendar.print.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/calendar.css")">
  <link rel="stylesheet" type="text/css" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css">
  
  <link rel="stylesheet" type="text/css" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.css">
  <!-- Alternative Themes for selectize (legacy = green, default = blue, bootstrap = grey) -->
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.bootstrap3.css"> -->
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.legacy.css"> -->
  <link rel="stylesheet" type="text/css" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/js/standalone/selectize.min.js"></script>
    
  <script src="@routes.Assets.at("fullcalendar/fullcalendar.min.js")"></script> 
  <script src="@routes.Assets.at("javascripts/calendar.js")"></script>

  <script>

    var lastSelected;

    $(document).ready(function() {

      // Causes all popovers to
      $('body').on('click', function (e) {
        $('.popover').each(function () {
          if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0){
              $(this).remove();
            }
        });
      });

      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        defaultDate: '2014-01-12',
        timezone: 'UTC',
        selectable: true,
        selectHelper: true,
        select: function(start, end, jsEvent, view) { // Reaction to the "select/click" event on the calendar (create new event)
          lastSelected = jsEvent.target;
          createEventPopover(jsEvent.target, start.utc().valueOf(), end.utc().valueOf());
        },
        unselect: function( view, jsEvent ) {
        },
        editable: true,
        events: function(start, end, timezone, callback) { // getting the events from the server
          $.ajax({
            url: '/appointments?from=' + start + '&to=' + end + '&timezone=' + timezone,
            type: 'GET',
            dataType: 'json',
            headers: {
              Accept: "application/json; charset=utf-8",
              "Content-Type": "application/json; charset=utf-8"
            },
            success: function(data) {
              var events = [];
              var appointmentsWithTags = data.appointments
              for (var i = 0; i < appointmentsWithTags.length; i++) {
                var highestPriorityTag = getHighestPriorityTag(appointmentsWithTags[i].tags);

                // console.log(JSON.stringify(highestPriorityTag));
                events.push({
                  'id'     : appointmentsWithTags[i].appointment.id,
                  'title'  : appointmentsWithTags[i].appointment.title + " [tags: " + $.map(appointmentsWithTags[i].tags, function(val) { return val.name; })+"]",
                  'start'  : appointmentsWithTags[i].appointment.start,
                  'end'    : appointmentsWithTags[i].appointment.end,
                  'color'  : highestPriorityTag.color,
                  'tagIds' : $.map(appointmentsWithTags[i].tags, function(v) { return v.id; })
                })

              }
              callback(events);
            },
            error: function() {
              $('#script-warning').show();
            }
          });
        },
        eventRender: function(event, element) {
          element.attr("tagIds", event.tagIds)
        },
        loading: function(bool) {
          $('#loading').toggle(bool);
        },
        eventClick: function(calEvent, jsEvent, view) {
          if (confirm("Delete appointment '" + calEvent.title + "'?")) {
            $.ajax({
              url: '/appointment/' + calEvent.id,
              type: 'DELETE',
              success: function(data) {
                $('#calendar').fullCalendar('removeEvents', function(ev) {
                  return ev.id == calEvent.id;
                });
                findConflicts();
              },
              error: function(xhr) {
                console.log("Can not delete appointment " + JSON.stringify(calEvent));
              },
            })
          }
        },
        eventDrop: function(eventData, revertFunc, jsEvent, ui, view) {
          updateEvent(eventData, revertFunc);
        },
        eventResize: function(eventData, revertFunc, jsEvent, ui, view) {
          updateEvent(eventData, revertFunc);
        }
      });

      // Duration Picker (duration of event)
      $('.durationpicker').datetimepicker({
        pickDate       : false,
        pickTime       : true,
        use24hours     : true,
        format         : 'hh:mm',
        minuteStepping : 15,
        language       : 'en',
        defaultDate    : new Date(1979, 0, 1, 2, 0, 0, 0)
      });

      // Datetime picker (time frame of proposal )
      $('.datetimepicker1').datetimepicker({
          language    : 'en',
          defaultDate : new Date(),
          showToday   : true,
          pickTime    : true
      });
      $('.datetimepicker2').datetimepicker({
          language    : 'en',
          defaultDate : moment().add('d', 14),
          showToday   : true,
          pickTime    : true
      });

      // Datetime picker (time frame within a day of proposal)
      $('.timepicker1').datetimepicker({
          language    : 'en',
          defaultDate : new Date(1979, 0, 1, 08, 0, 0, 0),
          pickTime    : true,
          pickDate    : false
      });
      $('.timepicker2').datetimepicker({
          language    : 'en',
          defaultDate : new Date(1979, 0, 1, 22, 0, 0, 0),
          pickTime    : true,
          pickDate    : false
      });

      // Multi select box for participants of proposal
      $('#input-users').selectize({
          delimiter: ',',
          create: false,
          hideSelected: true,
          preload: 'true',    // load data immediately on initialization (true/false/focus)
          valueField: 'id',   // The name of the property to use as the "value" when an item is selected
          labelField: 'name',   // The name of the property to render as an option / item label  (needed if it's not the standard "value" attribute)
          searchField: 'name',  // An array of property names to analyze when filtering options
          // render : {   // not needed for now. Maybe for fancier results (like profile images for each user)
          //   option: function(user, escape) {
          //     return ""
          //     + "<div>"
          //       + user.name
          //     + "</div>";
          //   }
          // },
          load: function(query, callback) {
              $.ajax({
                  url: '@routes.Users.list',
                  type: 'GET',
                  dataType: 'json',
                  error: function() {
                      callback();
                  },
                  success: function(res) {
                    callback(res.users);
                  }
              });
          }
      });
      // show current input values (Dont delete, may be useful)
      // $('select.selectized,input.selectized').each(function() {
      //   var $container = $('<div>').addClass('value').html('Current Value: ');
      //   var $value = $('<span>').appendTo($container);
      //   var $input = $(this);
      //   var update = function(e) { $value.text(JSON.stringify($input.val())); }

      //   $(this).on('change', update);
      //   update();

      //   $container.insertAfter($input.next());
      // });

      findConflicts();
      listTags();
      listProposals();
    });

  </script>
}

@navigationBarElements = {

    <li>
        <a href="#">Welcome, @userName!</a>
    </li>
    <li class="divider-vertical"></li>
    <li>
        <a href="/logout">
          <i class="glyphicon glyphicon-log-out"></i> Logout
        </a>
    </li>
    <li class="divider-vertical"></li>
    <li>
        <a href="/admin"> 
          <i class="glyphicon glyphicon-cog"></i> Administration
        </a>
    </li>
    <li class="divider-vertical"></li>
}

@main(title, scripts, navigationBarElements, "") {

  <div id="script-warning">
    <code>Server cannot return any events.</code>
  </div>

  <div id="loading">loading...</div>


  <section id="main">
    <section id="left-sidebar" class="sidebar">
      <section id="tags" class="span4">
        <h3>Tags</h3>
        <ul></ul>
        <button name="add-tag" class="btn btn-xs btn-default" onclick="startAddTag()">
          <span class="glyphicon glyphicon-plus" style="font-size: 9px;"></span> Add Tag
        </button>
        <div class="spacer"></div>
      </section>
      <section id="proposals" class="span4">
        <h3>Proposals</h3>
        <ul></ul>
        <button name="create-proposal" class="btn btn-xs btn-default" onclick="$('#proposalModal').modal('show')" >
          <span class="glyphicon glyphicon-bullhorn" style="font-size: 9px;"></span> Create Proposal
        </button>
      </section>
    </section>

    <section id="calendar"></section>

    <section id="right-sidebar" class="sidebar">
      <div id="conflicts" class="span4">
        <h3>Conflicts</h3>
        <ul class="list-group"></ul>
        <div class="spacer"></div>
      </div>
    </section>
    <section class="log formgroup"></section>
  </section>


  <!-- Create Proposal Model Box -->
  <div class="modal fade bs-example-modal-md" id="proposalModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md proposal-modal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">New Proposal</h4>
        </div>
        <div class="modal-body">
          <form role="form">
              <div class="form-group">
                  <label for="proposalName">Name</label>
                  <input type="text" class="form-control" id="proposalName" placeholder="Event's name  (e.g. 'Bar tour through Munich')">
              </div>
              <div class="form-group">
                  <label for="proposalDuration">Duration in hours</label>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group date durationpicker">
                       <input type="text" id="proposalDuration" class="form-control">
                       <span class="input-group-addon">
                         <span class="glyphicon glyphicon-time"></span>
                       </span>
                     </div>
                    </div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Time frame</label>
                  <div class="well well-sm">
                    <div class="row">
                      <div class="col-md-6">
                          <div class="input-group date datetimepicker1">
                            <span class="input-group-addon">From</span>
                            <input type="text" id="proposalFrom" class="form-control" />
                            <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class='input-group date datetimepicker2' >
                            <span class="input-group-addon">To</span>
                            <input type="text" id="proposalTo" class="form-control" />
                            <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>  
              <div class="form-group">
                  <label>Time frame within each day</label>
                  <div class="well well-sm">
                    <div class="row">
                      <div class="col-md-6">
                          <div class="input-group date timepicker1">
                            <span class="input-group-addon">From</span>
                            <input type="text" id="proposalTimeFrom" class="form-control" />
                            <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                            </span>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class='input-group date timepicker2' >
                            <span class="input-group-addon">To</span>
                            <input type="text" id="proposalTimeTo" class="form-control" />
                            <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                            </span>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>  
               <div class="form-group">
                  <label for="proposalName">Participants</label>
                  <input type="text" id="input-users" class="selectized" tabindex="-1" style="display: none;" placeholder="Who will participate?">
              </div>
           </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id="register-submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
  </div>
}