@(loginForm: Form[LoginData])(implicit flash:Flash)

@import helper._
@import views.helper.bootstrap.LoginField._

@scripts = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">

    <script>
        $(document).ready(function() {
            $("div#register #register-submit").click(function(e) {
                registerError("");
                var name = $("div#register #name").val()
                var password = $("div#register #password").val()
                if (name == "") {
                    registerError("Empty username");
                    return;
                }
                if (password == "") {
                    registerError("Empty password");
                    return;
                }
                $.ajax({
                    type : "POST",
                    url  :  '@routes.Users.add()',
                    headers: {
                        Accept         : "application/json; charset=utf-8",
                        "Content-Type" : "application/json; charset=utf-8"
                    },
                    dataType:    "json",
                    data:        JSON.stringify({
                                    'name':     name,
                                    'password': password,
                    }),
                    error: function(xhr, textStatus, errorThrown){
                        registerError(xhr.responseText);
                    },
                    success: function(data){
                        registerSuccess("User " + name + " succcessfully created");
                    }
                });
            })
        })

        function registerError(msg) {
            $("#register .modal-body div.alert").remove()
            if (msg != "") {
                $("#register .modal-body p").after("<div class='alert alert-danger'><a class='close' data-dismiss='alert' href='#'>×</a>" + msg + "</div>");
            }
        }

        function registerSuccess(msg) {
            $("#register .modal-body div.alert").remove()
            $('#register').modal('hide')

            if (msg != "") {
                $('form').prepend("<div class='alert alert-success'><a class='close' data-dismiss='alert' href='#'>×</a>" + msg + "</div>");
            }
        }
    </script>
}

@navigationBarElements = {
    <li>
        <a href="#register" data-toggle="modal">
            <i class="glyphicon glyphicon-plus"></i> Register
        </a>
    </li>
    <li class="divider-vertical"></li>
    <li>
        <a href="#forgot" data-toggle="modal">
            <i class="glyphicon glyphicon-user"></i> Forgot Password
        </a>
    </li>
    <li class="divider-vertical"></li>
    <li>
        <a href="#contact" data-toggle="modal">
            <i class="glyphicon glyphicon-envelope"></i> Contact Us
        </a>
    </li>
    <li class="divider-vertical"></li>
    <li>
        <a href="/admin"> 
          <i class="glyphicon glyphicon-cog"></i> Administration
        </a>
    </li>
    <li class="divider-vertical"></li>
}

@main("Login", scripts, navigationBarElements, "") {


    <!-- Main Container -->
    <section>
        <div class="container login">
            <div class="row ">
                <div class="center well col-sm-4 col-md-4">
                    <legend>Please Sign In</legend>

                    @if(!flash.get("error").isEmpty) {
                        <div class="alert alert-error alert-warning alert-dismissable">
                            <a class="close" data-dismiss="alert" href="#">×</a>@flash.get("error")
                        </div>
                    }
                    @form(action = routes.Login.login, 'class -> "form-horizontal", 'role -> "form") {
                      <div class="form-group">
                        <label class="col-md-3 control-label">Name</label>
                        <div class='col-md-9'>
                          @bootstrap.loginInput(loginForm("username"), 'type -> "text", 'placeholder -> "Username" )
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label">Password</label>
                        <div class='col-md-9'>
                          @bootstrap.loginInput(loginForm("password"), 'type -> "password", 'placeholder -> "Password" )
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="remember" value="1"> Remember Me
                            </label>
                          </div>
                        </div>
                      </div>
                      <button type="submit" name="submit" class="btn btn-primary btn-block">Sign in</button>
                    }
                </div>
            </div>
        </div>
        <p class="text-center text-muted">&copy; Copyright 2014 - Calendar</p>
    </section>
    <!-- Main Container Ends -->

    <!-- Register Model Box -->
    <div class="modal fade bs-example-modal-md" id="register" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Register</h4>
          </div>
          <div class="modal-body">
            <p>Select your username and password to register.</p>
            <div class="spacer"></div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-md-3 control-label">Name</label>
                  <div class='col-md-5'>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">Password</label>
                  <div class='col-md-5'>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                  </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="register-submit" class="btn btn-primary">Register</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Forgot Password Model Box -->
    <div class="modal fade bs-example-modal-md" id="forgot" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Forgot Password</h4>
          </div>
          <div class="modal-body">
            <p>Enter your username to reset the password</p>
            <form>
                 <div class="controls controls-row">
                     <input id="name" name="name" type="text" class="col col-lg3 form-control" placeholder="Name">
                 </div>
             </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="register-submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Contact Us Model Box -->
    <div class="modal fade bs-example-modal-md" id="contact" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Contact Us</h4>
          </div>
          <div class="modal-body">
            <p>Enter your username to reset the password</p>
            <form>
                <div class="controls controls-row">
                    <input id="name" name="name" type="text" class="col col-lg3 form-control" placeholder="Name">
                </div>

                <div class="controls controls-row">
                    <input id="email" name="email" type="email" class="col col-lg3 form-control" placeholder="Email address">
                </div>

                <div class="controls">
                    <textarea id="message" name="message" class="col col-lg5" placeholder="Your Message" rows="5"></textarea>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="register-submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
}